<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1> <%= @name %>, welcome to Betastore</h1>
  <p>You have succesfully created an account.</p>
</body>
</html>
